google-chrome/
mimeapps.list
dconf/
discord/
gh/
pulse/
systemd/
kde.org/
menus/
JetBrains/
autostart/
session/
baloofileinformationrc
QtProject.conf
.avalonia-build-tasks/
Electron/
Fiddler Everywhere/
GitHub Desktop/
KDE/
Kvantum/
OpenRGB/logs/
Pinta/
Postman/
QDirStat/
QOpenVPN/
SideQuest/
Valve/
VeraCrypt/
alvr/
appimagelauncher.cfg
audionodes/
bashtop/
cef_user_data/
com.modrinth.theseus/
configstore/
czkawka/
deluge/
discordcanary/
discordptb/
droidcam
figma-linux/
filetypesrc
font-manager/
fontconfig/
gcolor3/
go/
google-chrome-beta/
htop/
imhex/
jgit/
kate/
katemetainfos
katerc
katevirc
kdeglobals
kiorc
kritadisplayrc
kritarc
kservicemenurc
ktrashrc
neofetch/
nwg-displays/
nwg-drawer/
obs-studio/
onlyoffice/
openrazer/
openvr/
pavucontrol-qt/
pavucontrol.ini
pritunl/
qBittorrent/
rncbc.org/
rofi.zip
rustdesk/
sonobus/
spicetify/
spotify/
sqlitebrowser/
systemmonitorrc
torbrowser/
trashrc
unity3d/
user-dirs.dirs
user-dirs.locale
vesktop/
vlc/
wireshark/
yay/

